<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<it.unipi.dii.dmml.abuddy.abuddy_application.ParamConfig>
    <ip>localhost</ip>
    <port>3306</port>
    <username>root</username>
    <dbname>ABuddy</dbname>
    <lastCluster>2022-01-11</lastCluster>
    <adminUsername>admin</adminUsername>
    <adminPassword>admin</adminPassword>
</it.unipi.dii.dmml.abuddy.abuddy_application.ParamConfig>
